<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnIncomplete="falsee"
    stopOnSkipped="false"
    strict="false"
    verbose="false">

    <testsuites>
        <testsuite name="Unit tests">
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
